.root{
    width: 90%;
}

.resizeImage{
  display: inline-block;
  height : 140px;
  max-width: 50%;
}

.button{
  padding-left: 20%;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .root {
      width: 100%;
    }
    .resizeImage{
      display: block;
      height : 140px;
      max-width: 50%;
    }
    .button{
      padding-left: 0;
    }
    .button Button{
      width: 100%;
    }
}